<div class="col-md-12">
    <div class="issue">
        <%= link_to("发布文章", new_admin_post_path(@issue),class: "btn btn-default pull-right") %>
        <%= link_to("编辑讨论版", edit_admin_issue_path(@issue), class: "btn btn-primary pull-right")%>
    </div>
    <h2><%= @issue.title %>
    </h2>
    <p>
        <%= @issue.description %></p>
    <table class="table">
        <thead>
            <tr>
                <th>文章内容</th>
                <th>作者</th>
                <th>发表时间</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td><%= post.content %></td>
                <td><%= "email"%></td>
                <td><%= post.created_at %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= will_paginate @posts %>
    </div>
</div>