<div class="col-md-12">
    <div class="issue">
        <%= link_to("发布文章", new_admin_issue_post_path(@issue),class: "btn btn-default pull-right") %>
        <!-- <%= link_to("编辑讨论版", edit_admin_issue_path(@issue), class: "btn btn-primary pull-right")%> -->
    </div>
    <h2><%= @issue.title %>
    </h2>
    <p>
        <%= @issue.description %></p>
    <table class="table" height="200px">
        <thead>
            <tr>
              <th>文章名</th>
              <th>文章简介</th>
              <th>作者</th>
              <th>发表时间</th>
              <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td>
                <% if post.is_hidden %>
                  <%= content_tag(:span, "", :class => "fa fa-lock") %>
                <% else %>
                  <%= content_tag(:span,"", :class => "fa fa-globe") %>
                <% end %>
                <%= link_to(post.title , admin_issue_post_path(@issue,post)) %>
                </td>
                <td><%= post.brief_introduction %></td>
                <td><%= post.author %></td>
                <td><%= post.created_at %></td>

                <td>
                    <% if post.is_hidden %>
                    <%= link_to("Publish",publish_admin_post_path(post), method: :post,class:"btn btn-xs btn-success") %>
                    <% else %>
                    <%= link_to("Hide",hide_admin_post_path(post),method: :post, class:"btn btn-xs btn-success") %>
                    <% end %>
                    <%= link_to("Edit", edit_admin_issue_post_path(@issue,post), class: "btn btn-primary btn-xs btn-default")%>
                    <%= link_to("Destroy", admin_post_path(post), class: "btn btn-danger btn-xs btn-default",
          method: :delete, data: {confirm: "确定删除吗?"})%>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= will_paginate @posts %>
    </div>
</div>
