<div class="panel panel-primary">
    <% @issue.posts.each do |post| %>
    <div class="panel-heading">
        <%= link_to(post.title, issue_post_path(@issue,post), class: "issue_post_title")%>
        <div class="row">
            <span class="col-md-2 col-xs-4, margin-bottom:10px">
                <i class="fa fa-user tag_color" aria-hidden="true"></i>
                作者:
                <%= post.author %>
            </span>

            <span class="col-md-3 col-xs-7 ">
                <i class="fa fa-tags tag_color" aria-hidden="true"></i>
                <%=link_to("标签","#",style:"color:white")%>
                <%= post.tag%>
            </span>

            <span class="col-md-5 col-xs-12">
                <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
                <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
            </span>
        </div>
    </div>
    <div class="panel-body issue_content">
        <div class="col-xs-2 col-md-2 thumbnail"><%= image_tag post.image.thumb %></div>
        <div class="col-xs-10 col-md-10"><%= truncate(post.content, :ommision => "...Read More", :length => 300)%>
            <%=link_to( "阅读全文...", issue_post_path(@issue,post))%>

                        <div class="bdsharebuttonbox pull-right">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                            <a href="#" class="bds_renren" data-cmd="renren"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>
                        <script>
                            window._bd_share_config = {
                                "common": {
                                    "bdSnsKey": {},
                                    "bdText": "",
                                    "bdMini": "2",
                                    "bdPic": "",
                                    "bdStyle": "0",
                                    "bdSize": "16"
                                },
                                "share": {},
                                "image": {
                                    "viewList": [
                                        "qzone", "tsina", "tqq", "renren", "weixin"
                                    ],
                                    "viewText": "分享到：",
                                    "viewSize": "16"
                                },
                                "selectShare": {
                                    "bdContainerClass": null,
                                    "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
                                }
                            };
                            with (document)
                                0 [(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' +~ (-new Date() / 36e5)];
                        </script>
        </div>
    </div>
    <% end %>
</div>

<div class="text-center">
<%= will_paginate @posts %>
</div>
