<div class="col-md-12">
  <div class="group">
    <%= link_to("新建讨论版", new_group_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>版块名</td>
        <td>版块描述</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td>#</td>
        <td><%= link_to(group.title, group_path(group)) %></td>
        <td><%= group.description %></td>
        <td>
          <%= link_to("编辑", edit_group_path(group), class: "btn btn-sm btn-default")%>
          <%= link_to("删除", group_path(group), class: "btn btn-sm btn-default",
          method: :delete, data: {confirm: "确定删除吗?"})%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
