<div class="jumbotron hidden-xs">
  <h1>GrowthHacker中国</h1>
  <p>每天5篇精品文章,了解最新Growth技术</p>
  <%= link_to("马上注册", new_user_registration_path, class:"btn btn-lg btn-primary")%>
</div>

<div class="jumbotron visible-xs-block text-center">
  <h1>GrowthHacker中国</h1>
  <p>每天5篇精品文章,了解最新Growth技术</p>
  <%= link_to("马上注册", new_user_registration_path, class:"btn btn-lg btn-primary")%>
</div>


<div class="center">
  <%= render :partial => "welcome/search_bar" %>
</div>

<br>

<div class="row hidden-xs">
  <% @issues.each do |issue| %>
  <div class="col-md-4 ">
    <div class="panel panel-primary">
      <div class="panel-heading issuetitle"><%= link_to(issue.title, issue_path(issue), class:"issuetitle") %></div>
      <%issue.posts.each do |post| %>
      <div class="panel-body"><%= link_to(post.title, issue_post_path(post.issue,post)) %>
      </div>
      <% end %>
        </div>
    </div>

  <% end %>
</div>

<div class="row visible-xs-block">
  <% @posts.each do |post| %>
  <div class="col-xs-12 ">
  <h3><%= link_to(post.title, post_path(post)) %></h3>
  <br>
  <p><%= link_to(post.brief_introduction, post_path(post)) %></p>
  <hr>
  </div>
  <% end %>
  <div class="text-center">
  <%= will_paginate @posts %>
  </div>
</div>
