
<br class="hidden-xs">
<!-- <div class="center"> -->
    <%#= render :partial => "welcome/search_bar"%>
<!-- </div> -->
<br class="hidden-xs">

<div class="con_l col-md-8 hidden-xs">
<% @posts.each do |post| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= link_to(post.title, post_path(post), class: "issue_post_title") %>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-9  issue_content">
                    <div class="row index_tag tag_color">
                      <span >
                          <i class="fa fa-user " aria-hidden="true"></i>
                          <%= post.author %>
                      </span>

                      <span >
                          <i class="fa fa-tags tag_color" aria-hidden="true"></i>
                          <%#=link_to("标签","#",style:"color:black")%>
                          <%#= post.tag%>
                          GrowthHack
                      </span>

                      <span >
                          <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
                          <%= post.created_at.strftime("%Y-%m-%d")%>
                      </span>

                      <span>
                          <i class="fa fa-file-text-o tag_color" aria-hidden="true"></i>
                          阅读量:
                          <%= post.pv %>
                      </span>
                    </div>
                    <div class="row">
                      <div class="issue_brief">
                      <%= link_to(post.brief_introduction, post_path(post)) %>
                    </div>
                    </div>
                </div>

              <div class="text-center index_hot_image">
                  <a href="<%= post_path(post) %>"><%= image_tag post.image.thumb, class:"img-grouded" %></a>
              </div>
          </div>
        </div>
    </div>
<% end %>
</div>

<div class="con_r pull-right col-md-4 hidden-xs">
    <div class="section_title">
      <span class="rmwz">热门文章</span>
      <span class="pull-right"><%= link_to(">>更多",hot_posts_path, class: "more") %></span>
    </div>

    <div class="height_box">
      <% @hot_posts.each do |hot_post| %>
          <div class="hot_posts row">
            <span class="hot_post_image col-md-3">
            <a href="<%= issue_post_path(hot_post.issue,hot_post) %>"><%= image_tag hot_post.image.hot %></a>
            </span>
            <span class="hot_post_title col-md-9">
              <%= link_to(hot_post.title, issue_post_path(hot_post.issue,hot_post)) %>
            </span>
          </div>
      <% end %>
    </div>
</div>


<br class=" visible-xs-block">

<p class="visible-xs-block">
  <button type="button" class="btn btn-default btn-lg col-xs-6" >
    <%= link_to("热门文章",hot_posts_path) %></button>
  <button type="button" class="btn btn-default btn-lg col-xs-6" >
  <%= link_to("往期合集",issues_path) %></button>
</p>

<br class=" visible-xs-block"><br class=" visible-xs-block"><br class=" visible-xs-block">

<div class=" visible-xs-block">
    <% @posts.each do |post| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><%= link_to(post.title, post_path(post), class:"issuetitle-mobile") %></h3>
            <hr>
            <div class="index-article-picture">
                <%#= image_tag post.image.default_url %>
                <a href="<%= post_path(post) %>"><%= image_tag post.image.mobile %></a>
            </div>
            <p><%= link_to(post.brief_introduction, post_path(post), class:"issue-brief-controduction-mobile") %></p>
        </div>
    </div>
    <% end %>
</div>
</div>

<div class="text-center">
  <%= will_paginate @posts, rendered: BootstrapPagination::Rails, bootstrap: 3 %>
</div>
