<div class="col-md-5 col-md-offset-3">

  <h3 class="text-center">编辑信息</h3>

  <img src="<%= @user.avatar.thumb %>" width="90" height="90", class="img-circle" >

  <%= simple_form_for [:account,@user] do |f| %>
    <div class="form-group">

      <%= f.input :avatar, :label =>"Avatar" %>
      <%= f.input :email %>
      <%= f.input :introduction %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
</div>
