<div class="container-all">
  <div class="col-lg-offset-3 col-lg-6 col-sm-3">
    <div class="form-area">

      <h3 class="text-center">编辑信息</h3>

      <%= image_tag current_user.avatar.thumb, width: 120, height: 120, class: "img-circle" %>
        <%= simple_form_for [:account,@user] do |f| %>

        <%= f.input :avatar, :label =>"Avatar" %>
          <hr>
            <%= f.label :gender %><br/>
            <%= f.label :gender, "Male", :value => "true"  %>
            <%= f.radio_button :gender, true %>
            <%= f.label :gender, "Female", :value => "false" %>
            <%= f.radio_button :gender, false %>
          <hr>
            <%= f.input :name %>
          <hr>
            <%= f.input :email %>
          <hr>
            <%= f.input :introduction %>

        <%= f.submit "Submit", class: "btn btn-info pull-right", data: { disable_with: "Submitting..." } %>

        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
