<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <%= image_tag current_user.avatar.thumb,weight: 140, height: 140 %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>用户资料</h3>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <%= @user.email %>
                            <br/>
                            <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                            <i class="glyphicon glyphicon-user"></i>
                            <%= @user.introduction %>
                        </p>
                        <!-- Split button -->
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> <%=link_to("我的收藏", account_user_favorite_path(current_user))%></span>

                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"><%=link_to("编辑资料", edit_account_user_path)%></span>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"><%=link_to("修改密码", edit_user_registration_path)%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
