
<div class="container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-sm-3">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"><%= current_user.name %> </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                  <img src="<%= current_user.avatar.thumb %>" width="140" height="140" >
                </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Username</td>
                        <td><%= current_user.name %></td>
                      </tr>
                      <tr>
                       <td>Gender</td>
                       <td><%= gender_type %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= current_user.email%></td>
                      </tr>
                      <tr>
                        <td>Introduction</td>
                        <td><%= current_user.introduction %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
