<h2 class="text-center">编辑文章</h2>
<div class="col-md-10 ">
  <%= simple_form_for [@issue,@post] ,url: admin_post_path do |f| %>
  <div class="form-group">
      <%= f.input :title %>
      <%#= f.input :content, input_html: {class:"form-control"}%>
      <p>
        <strong>文章内容
        <%= f.trix_editor :content, :input_html => { :cols => 5, :rows => 100 } %></strong>
      </p>
          <%= f.input :author %>
          <%= f.input :tag %>
          <%= f.input :origin_link %>
          <%= f.input :image %>
          <%= f.input :PV %>
  </div>

  <div class="form-actions">
      <%= f.submit "提交", disable_with: "提交中...", class: "btn btn-primary"%>
  </div>
  <% end %>

  <style>
    trix-editor.formatted_content {
      min-height: 400px !important;
      width: 750px !important;
    }
  </style>


</div>
