<div class="col-md-12">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1><%= @post.title %></h1>

        </div>
        <div class="panel-body">
          <div class="row">
              <span class="col-md-3 col-xs-4, margin-bottom:10px">
                  <i class="fa fa-user tag_color" aria-hidden="true"></i>
                  作者:
                  <%= @post.author %>
              </span>

              <span class="col-md-3 col-xs-6">
                  <i class="fa fa-tags tag_color" aria-hidden="true"></i>
                  <%=link_to("标签","#",style:"color:black")%>
                  <%= @post.tag%>
              </span>

              <span class="col-md-3 col-xs-12">
                  <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
                  <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </span>

              <span class="col-md-2 col-xs-12">
                  <i class="fa fa-file-text-o tag_color" aria-hidden="true"></i>
                  阅读量:
                  <% @post.visit %>
                  <%= @post.pv %>
              </span>
          </div>
        </div>
          <%= render_markdown_text(@post.content) %>
    </div>
</div>
