<div class="post-hot padding:10px,0px;">
  <!-- i表示Top，前几名 -->
  <% @i = 1 %>
   <div class="row col-md-8 hot-left">
     <% @posts.each do |post| %>
      <div class="col-md-6 hot-post-left">

        <div class="hot-img-bg">
          <% @i = @i + 1 %>
          <div class="img">
              <a href="<%= post_path(post) %>"><%= image_tag post.image.thumb, class:"img-grouded" %></a>
          </div>
          <div class="hot-detail">
          <span class="pull-left">
            <!-- <b style="color: green">TOP <%= @i %></b>&nbsp; -->
            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
            <%= post.pv %>
            <i class="glyphicon glyphicon-thumbs-up"aria-hidden="true"></i>
            <%= post.support %>
          </span>
            <span class="pull-right">
              <i class="fa fa-clock-o tag_color" aria-hidden="true pull-right"></i>
              <%= post.created_at.strftime("%Y-%m-%d")%>
            </span>

          <span>
         </div>
         <div class="hot-post-title">
           <%= link_to(post.title, issue_post_path(post.issue,post), class: "issue_post_title") %>
         </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="pull-right hot-right col-md-4">
      <div class="section_title">
        <span class="rmwz">猜你喜欢</span>
        <span class="pull-right"><%= link_to(">>MORE",hot_posts_path, class: "more") %></span>
      </div>

      <div class="height_box">
        <% @favorite_posts.each do |favorite_post| %>
            <div class="hot_posts row">
              <span class="hot_post_image col-md-3">
              <a href="<%= issue_post_path(favorite_post.issue,favorite_post) %>"><%= image_tag favorite_post.image.hot %></a>
              </span>
              <span class="hot_post_title col-md-9">
                <%= link_to(favorite_post.title, issue_post_path(favorite_post.issue,favorite_post)) %>
              </span>
            </div>
        <% end %>
      </div>
    </div>

</div>
