<div class="panel panel-primary">
  <div class="panel-heading">
    点赞数：<%= pluralize(@post.support,'') %>
    <i class="fa fa-heart-o pull-right" aria-hidden="true"><%= link_to '点赞', like_post_path(@post),method: :post %></i>
    <span class="issue_post_title h3"><%= @post.title %></span>
  </div>
  <div class="panel-body">
    <div class="row hidden-xs">
      <span class="col-md-2 col-xs-4, margin-bottom:10px">
        <i class="fa fa-user tag_color" aria-hidden="true"></i>
        作者:
        <%= @post.author %>
      </span>
      <span class="col-md-3 col-xs-6">
        <i class="fa fa-tags tag_color" aria-hidden="true"></i>
        <%#=link_to("标签","#",style:"color:black")%>
        <%#= @post.tag%>
        GrowthHack
      </span>
      <span class="col-md-5 col-xs-12">
        <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </span>
      <span class="col-md-2 col-xs-12">
        <i class="fa fa-file-text-o tag_color" aria-hidden="true"></i>
        阅读量:
        <% @post.visit %>

        <%= @post.pv %>
      </span>
      <div class="post-content col-md-12"><%= render_markdown_text(@post.content) %></div>
    </div>
    <div class="row visible-xs-block">
      <span class="col-md-3 col-xs-7">
        <i class="fa fa-tags tag_color" aria-hidden="true"></i>
        <%#=link_to("标签","#",style:"color:black")%>
        <%#= @post.tag%>
        GrowthHack
      </span>
      <span class="col-md-2 col-xs-5, margin-bottom:10px">
        <i class="fa fa-user tag_color" aria-hidden="true"></i>
        作者:
        <%= @post.author %>
      </span>
    </div>
    <div class="row visible-xs-block">
      <span class="col-md-5 col-xs-7">
        <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </span>
      <span class="col-md-2 col-xs-5">
        <i class="fa fa-file-text-o tag_color" aria-hidden="true"></i>
        阅读量:
        <%= @post.pv %>
      </span>
    <div class="post-content col-xs-12"><%= render_markdown_text(@post.content) %></div>
    </div>
    <br>
    <br>


    <ul class="pager">
      <li class="previous">
        <%=link_to("上一页", @post.previous) %>
      </li>

      <% if current_user %>
      <li>
        <%= link_to("收藏", add_to_favorite_test_account_post_path(@post), method: :post  ) %>
      </li>
      <% end %>
      
      <li class="next">
        <%=link_to("下一页", @post.next) %>
      </li>
    </ul>
  </div>

</div>
<!-- <img src="/x.png" alt="" /> -->
