<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1><%= @post.title %></h1>

      <div class="row">
        <span class="col-md-2, margin-bottom:10px">
        <i class="fa fa-user tag_color" aria-hidden="true"></i>
        作者: <%= @post.author %>
        </span>

        <span class="col-md-3">
        <i class="fa fa-tags tag_color" aria-hidden="true" ></i>
        <%=link_to("标签","#",style:"color:white")%>

        <%= @post.tag%>
        </span>

        <span class="col-md-5">
        <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
        <%= @post.created_at%>

        </span>

        </div>
    </div>
    <div class="panel-body"><%= simple_format(@post.content) %> </div>
  </div>
  <img src="/x.png" alt="" />
</div>
