<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1><%= @post.title %></h1>

      <div class:"row">
        <span class="label label-danger" id="tag1"> 作者: <%= @post.author %></span>
        <span class="label label-danger" id="tag2"> 标签: <%= @post.tag%></span>
        <span class="label label-danger" id="tag3"> 时间: <%= @post.created_at %></span>
        <span class="label label-danger" id="tag4"> 阅读量: <%= @post.visit %></span>
      </div>
    </div>

    <div class="panel-body"><%= simple_format(@post.content) %> </div>
  </div>
</div>
