  <div class="post_title">
    <%= @post.title %>
  </div>

    <div class="row hidden-xs tag_color">
      <span class="col-md-3 col-xs-4", style="margin-bottom: 30px; padding-left:100px;">
        <i class="fa fa-user" aria-hidden="true"></i>

        作者:
        <%= @post.author %>
      </span>
      <span class="col-md-3 col-xs-6">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <%#=link_to("标签","#",style:"color:black")%>
        <%#= @post.tag%>
        GrowthHack
      </span>
      <span class="col-md-3 col-xs-12">
        <i class="fa fa-clock-o " aria-hidden="true"></i>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </span>
      <span class="col-md-2 col-xs-12">
        <i class="fa fa-file-text-o " aria-hidden="true"></i>
        阅读量:

        <%= @post.pv %>
        <% @post.visit %>
      </span>

    </div>
    <div class="row visible-xs-block">
      <span class="col-md-3 col-xs-7">
        <i class="fa fa-tags tag_color" aria-hidden="true"></i>
        <%#=link_to("标签","#",style:"color:black")%>
        <%#= @post.tag%>
        GrowthHack
      </span>
      <span class="col-md-2 col-xs-5, margin-bottom:10px">
        <i class="fa fa-user tag_color" aria-hidden="true"></i>
        作者:
        <%= @post.author %>
      </span>
    </div>
    <div class="row visible-xs-block">
      <span class="col-md-5 col-xs-7">
        <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </span>
      <span class="col-md-2 col-xs-5">
        <i class="fa fa-file-text-o tag_color" aria-hidden="true"></i>
        阅读量:
        <%= @post.pv %>
      </span>
    </div>
    <div class="post-content col-xs-12" ><%= render_markdown_text(@post.content) %></div>

    <br>
    <br>

    <ul class="pager">
      <li class="previous">
        <%=link_to("上一页", @post.previous) %>
      </li>

      <% if current_user %>
      <li>
        <%= link_to("收藏", add_to_favorite_test_account_post_path(@post), method: :post  ) %>
      </li>
      <!-- <i class="fa fa-heart-o pull-left" aria-hidden="true">
      </i> -->
      <li>
        <%= link_to "点赞#{pluralize(@post.support,'')}", like_post_path(@post),method: :post ,:wrap_tag => :li%>
      </li>

      <% end %>

      <li class="next">
        <%=link_to("下一页", @post.next) %>
      </li>
    </ul>
  <!-- </div> -->

<!-- </div> -->
<!-- <img src="/x.png" alt="" /> -->
