
<%= javascript_include_tag 'post', 'data-turbolinks-track': 'reload' %>



    <div class="row visible-xs-block">
      <span class="col-md-3 col-xs-6 col-xs-offset-1">
        <i class="fa fa-tags tag_color" aria-hidden="true"></i>
        GrowthHack
      </span>
      <span class="col-md-2 col-xs-5, margin-bottom:10px">
        <i class="fa fa-user tag_color" aria-hidden="true"></i>
        作者:
        <%= @post.author %>
      </span>
    </div>

    <div class="row visible-xs-block">
      <span class="col-md-5 col-xs-6 col-xs-offset-1">
        <i class="fa fa-clock-o tag_color" aria-hidden="true"></i>
        <%= @post.created_at.strftime("%Y-%m-%d") %>
      </span>
      <span class="col-md-2 col-xs-5">
        <i class="fa fa-file-text-o tag_color " aria-hidden="true"></i>
        阅读量:
        <%= @post.pv %>
      </span>
    </div>

    <div class="col-md-9 post-content col-xs-12" >
      <div class="post_title">
        <%= @post.title %>
      </div>

        <div class="row hidden-xs post-common-icon">
          <span class="col-md-2 col-xs-4">
            <i class="fa fa-user" aria-hidden="true"></i>

            作者:
            <%= @post.author %>
          </span>
          <span class="col-md-2 col-xs-6">
            <i class="fa fa-tags" aria-hidden="true"></i>
            GrowthHack
          </span>
          <span class="col-md-3 col-xs-12">
            <i class="fa fa-clock-o " aria-hidden="true"></i>
            <%= @post.created_at.strftime("%Y-%m-%d") %>
          </span>
          <span class="col-md-2 col-xs-12">
            <i class="fa fa-file-text-o " aria-hidden="true"></i>
            阅读量:

            <%= @post.pv %>
            <% @post.visit %>
          </span>
        </div>

        <%= render_markdown_text(@post.content) %>
        <div>
        <h4 style="font-weight: bold;">文章评论</h4>
        <div class="comment_inner">
          <% @comments.each do |comment| %>
          <div class="col-md-1 user_avatar">
            <%= image_tag comment.user.avatar.thumb, width: 30, height: 30, class: "img-circle" %>
          </div>
          <div class="col-md-11 reviews">
            <h3 class="reviews_name"><%= comment.user.name %></h3>
            <p class="reviews_time"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            <p class="reviews_con"><%= comment.content %></p>
          </div>
          <% end %>
        </div>

        <hr>
        <%= link_to("新增评论", new_post_comment_path(@post),class:"btn btn-success" ) %>
        </div>
    </div>



  <div class="col-md-3 hidden-xs fback-outside">
    <div class="fback">
      <span>
          <% if current_user && current_user.is_favorite?(@post) %>
          <i class="fa fa-heart fa-2x thumb-icon" aria-hidden="true" id="heart" postId="<%= @post.id %>"></i>已收藏
        <% else %>
          <i class="fa fa-heart-o fa-2x thumb-icon" aria-hidden="true" id="heart" postId="<%= @post.id %>"></i>加入收藏
        <% end %>

      </span>
      <br><br>

      <span>
          <% if  current_user && current_user.is_like?(@post) %>
          <i class="fa fa-thumbs-up fa-2x thumb-icon" aria-hidden="true" id="thumb" postId="<%= @post.id %>"></i>
        <% else %>
          <i class="fa fa-thumbs-o-up fa-2x thumb-icon" aria-hidden="true" id="thumb" postId="<%= @post.id %>"></i>
        <% end %>

      </span>
      点赞数&nbsp;<span id="supports"><%= @post.support %></span>
    <%# end %>
    </div>
  </div>

<div class="clearfix"></div>
    <br>
    <br>

    <ul class="pager">
      <li class="previous">
        <%=link_to("上一篇", @post.previous, id:"previousPage",  previousPost: @post.previous.nil? ? "null" : @post.previous.id) %>

      </li>

      <li class="next">
        <%=link_to("下一篇", @post.next, id:"nextPage", curPost:@post.id, nextPost: @post.next.nil? ? "null" : @post.next.id) %>
      </li>
    </ul>
