
  <div class="col-md-10">
    <table class="table table-boldered .table-striped .table-bordered ">
      <tr>
        <th>
          用户名
        </th>
        <th>
          权限
        </th>
        <th>
          管理选项
        </th>
        <th>
          删除用户
        </th>
        <th>
          权限状态
        </th>
        <th>
          注册时间时间
        </th>
      </tr>
      <% @users.each do |user|%>
    <tr>
      <td class="col-md-3">
        <% if(user.is_admin)%>
          <%= fa_icon "lock", right: true%>
        <% else%>
          <%= fa_icon "unlock", right: true%>
        <%end%>
        <%=  user.email %>
      </td>
      <td>
        <% if(user.is_admin)%>
          管理员
        <% else%>
          普通用户
        <%end%>
      </td>
      <td>
        <%= link_to("Edit", edit_admin_user_path(user)) %>
      </td>
      <td>
        <%= link_to("Destroy", admin_user_path(user), :method => :delete, :data => { :confirm => "Are you sure?"}) %>

      </td>
      <% if(user.is_admin)%>
        <td>
        <%= button_to("Admin" , admin_user_change_path(user)) %>
        </td>
        <% else%>
        <td>
        <%= button_to("Normal" , admin_user_change_path(user)) %>
        </td>

      <%end%>
      <td>
        <%= user.created_at %>
      </td>
    </tr>
      <% end %>
    </table>
  </div>
</div>
