<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get issueed for better mobile display -->

        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrowthHack中国</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to("往期",issues_path) %></li>
                <li><%#= link_to("招聘",jobs_path) %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %>
                </li>
                <li><%= link_to("登入", new_user_session_path) %></li>
            <% else %>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= gravatar_tag current_user.email, :size => 30, :default => "https://tower.im/assets/default_avatars/path.jpg"%>
                        Hi!,
                        <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li>
                            <%= link_to("管理后台", admin_users_path) %>
                        </li>
                        <% end %>
                        <li>
                            <%= link_to("个人信息", account_user_path(current_user)) %>
                        </li>
                        <li>
                          <%= link_to("我的收藏", account_user_favorite_path(current_user)) %>
                        </li>
                        <li>
                            <%= link_to("登出", destroy_user_session_path, method: :delete) %>
                        </li>

                    </ul>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
