<div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container navbar-content-width">
        <!-- Brand and toggle get issueed for better mobile display -->
        <div class="navbar-header" style="padding-top:5px" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrowthHacker黑板报</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="padding-top:5px" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/posts/hot">热门文章<sup style="font-size:1em;color:#16A085;">荐</sup></a>
              </li>
                  <li><%= link_to("往期合辑",issues_path) %></li>
                <!-- <li><%#= link_to("招聘",jobs_path) %></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs"><%= render :partial => "welcome/search_bar"%></li>
                <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %>
                </li>
                <li><%= link_to("登入", new_user_session_path) %></li>
            <% else %>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:12px;">
                        <%= image_tag current_user.avatar.thumb, width: 30, height: 30, class: "img-circle" %>
                        Hey!&nbsp;
                        <%= current_user.name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li>
                            <%= link_to("管理后台", admin_users_path) %>
                        </li>
                        <% end %>
                        <li>
                            <%= link_to("个人中心", account_users_path) %>
                        </li>
                        <li>
                            <%= link_to("我的收藏",  account_user_favorite_path(current_user)) %>
                        </li>
                        <li>
                            <%= link_to("登出", destroy_user_session_path, method: :delete) %>
                        </li>
                    </ul>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</div>
