<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="growthhack, growth, hack, hacker, growthhacker, 数字营销, 精准营销, 黑板报, growingio">
        <meta name="keywords" content="growthhack, growth, hack, hacker, growthhacker, 后台, 数字营销, 精准营销, 黑板报,growingio">
        <title>GrowthHack黑板报 | 管理后台
        </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'simplemde.min' %>
        <%= javascript_include_tag 'simplemde.min' %>
    </head>

    <body style="padding-top:0;">
        <%= render "common/navbar" %>
        <%= render "layouts/sidebar" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield :handwrite_javascript %>
    </body>
</html>
