<!DOCTYPE html>
<html>
  <head>
    <title>GrowthHacks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container" style="width: 950px; padding:0 0px;">
     <%= render "common/navbar" %>
     <%= render "common/flashes"%>
     <%= yield %>
  </div>
    <%= render "common/footer" %>
  </body>
</html>
