<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GrowthHacker黑板报</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="padding-top:0;">
  <div class="container" >
     <%= render "common/navbar" %>
     <%= render "common/banner" %>
     <%= render "common/flashes"%>


     <span class="hidden-xs"><%= render_breadcrumb %></span>
     <%= yield %>
     <div class="row">

         <div id="bdshare"  class="bdsharebuttonbox">
           <a href="#" class="bds_more" data-cmd="more"></a>
           <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
           <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
           <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
           <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
           <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
         </div>

     </div>


  </div>
  <div class="clearfix">
  </div>
  <script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
  <script type="text/javascript" id="bdshell_js"></script>
  <script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);</script>

    <%= render "common/footer" %>
    </body>

</html>
