<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>GrowthHacker黑板报</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

    <body style="padding-top:0;">
        <%= render "common/navbar" %>
        <div class="container">

            <%= render "common/banner" %>
            <%= render "common/flashes"%>

            <span class="hidden-xs"><%= render_breadcrumb %></span>
            <%= yield %>
        </div>
        <div class="clearfix"></div>
    </body>

    <%= render "common/footer" %>

</html>
