<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="growthhack, growth, hack, hacker, growthhacker, 数字营销, 精准营销, 黑板报, growingio">
        <meta name="keywords" content="growthhack, growth, hack, hacker, growthhacker, 数字营销, 精准营销, 黑板报,growingio">
        <title>GrowthHacker黑板报 | 首页</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

      <body>
          <%= render "common/navbar" %>
          <div>
            <%= render :partial => "welcome/slide" %>
          </div>
      <div class="container" >

            <%= render "common/flashes"%>
            <%= yield %>
            <%= render "common/footer" %>

      </div>
    </body>
</html>
